<h1>MOOCademy</h1>
<div class="center jumbotron">
  <h2>Cours de Dessin</h2>

  <h3>
    Ce cours vous permettera de maitraiser les techniques de dessins.
  </h3>

  <%= link_to "Commencer le Cours !", dessin_path, class: "btn btn-lg btn-primary" %>

</div>

-----------------------------------------

<div class="center jumbotron">
  <h2>Cours de Troll</h2>

  <h3>
    Le Troll est le hobie de nombreux internautes. Grâce à nos cours, apprenez à Troller comme un pro.
  </h3>

  <%= link_to "Commencer le Cours !", troll_path, class: "btn btn-lg btn-primary" %>
</div>

------------------------------------

<div class="center jumbotron">
  <h2>Cours de Piraterie</h2>

  <h3>
    Mettez les voiles et apprenez à devenir un grand pirate. Dans ce cours nous allors étudier le langage des pirates ainsi que leur code de conduite.
  </h3>

  <%= link_to "Commencer le Cours !", pirate_path, class: "btn btn-lg btn-primary" %>
</div>

-----------------------------------

<div class="center jumbotron">
  <h2>Cours de Pokémon</h2>

  <h3>
    Attrapez-les tous ! ce cours composé de plusieurs leçon vous permettera de devenir un top dresseur pokémon.
  </h3>

  <%= link_to "Commencer le Cours !", pokemon_path, class: "btn btn-lg btn-primary" %>
</div>

